/* Variables */
$color_celeste: #dbe2ef;
$color_gris_oscuro: #c5cbd7;
$color_gris_claro: #e3e4e5;
$color_verde: #245956;
$color_blanco: #ffffff;
$color_negro: #000000;
$color_dorado: #efb810;

@mixin shadow {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: $color_blanco;
        font: {
            family: Montserrat, Helvetica;
              }
}

hr {
    background-color: $color_dorado;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
        header {
            width: 100%;
            height: 65px;
                }
}

/* Títulos */

h1 {
    font: {
        size: 16px;
          }
    text-align: center;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 10px;
    background-color: $color_gris_claro;
}


/* Barra de navegación */

.navbar {
    .container {
        .navbar-brand {
            .logo {
                animation: pulse;
                animation-duration: 2s;
                @media screen and (max-width: 992px) {
                width: 35px;
                height: 35px;
                                                    }
                }
            .logo-texto {
                margin-left: 5px;
                margin-bottom: 0;
                letter-spacing: 1.5px;
                line-height: 18px;
                    font: {
                        family: Montserrat;
                        weight: 700;
                        size: 16px !important;
                        }
                    @media screen and (max-width: 992px) {
                        font: {
                            family: Montserrat;
                            weight: 700;
                            size: 16px !important;
                            }
                                                        }
                        }
                    }
            }
        }
.fas {
    margin-right: 16px;
}


/* Pie de página */

.footer {
    height: 60px;
    width: 100%;
    background-color: $color_gris_claro;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;    
    padding: 20px;
}

.fa {
    color: $color_negro;
    margin: 0 10px 0 0;
}

/* Home */

.text-carrousel {
    width: 50%;
    margin: auto;
    background-color: $color_verde;
}

.text-home {
    &__columna {
        &__texto1,
        &__texto2 {
            padding: 30px;
            line-height: 1.5em;
            color: $color_negro;
            text-align: justify;
            border: none;
        }
    }
}

/* Nosotros */

.parallax {
    background-image: url(../img/parallax.png);
    height: 50vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjeta-nosotros {
    background-color: $color_celeste;
    border: 1px outset;
    width: 640px;
    margin: 30px auto 30px auto;
    @include shadow;
    @media screen and (max-width: 992px) {
        width: 320px;
                              }
        &__texto {
            padding: 30px;
            line-height: 1.5em;
            color:$color_negro;
            text-align: justify;
            border: none;
                                 }
}

.polaroids {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 992px) {
        width: 250px;
                              }
    &__container {
        @include shadow;
        margin: 10px;
        &__bajada {
            text-align: center;
            padding: 10px 20px;
                                      }
                          }
}

/* Tratamientos */

.grid-tratamientos {
    &__columna1 {
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            row-gap: 15px;
            margin: 20px auto 30px auto;
            @media screen and (max-width: 992px) {
                padding: 5px;
                                                 }
                .card {
                    width: 400px;
                    @include shadow;
                    transition: 1s;
                    @media screen and (max-width: 992px) {
                        width: 300px;
                                                         }
                    .card-text {
                        .card-text-list {
                            list-style-type: "✓ ";
                        }
                    }
                &:hover {
                    -ms-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    @media screen and (max-width: 992px) {
                        -ms-transform: none;
                        -webkit-transform: none;
                        transform: none;
                                                         }
                        }
                    }
                }
            }
    &__columna2 {
        min-width: 260px;
        .sidebar-tratamientos {
            background-color: $color_gris_oscuro;
            height: auto;
            @media screen and (max-width: 1200px) {
                width: 320px;
                margin: auto;
                                                 }
            &__texto {
                font: {
                    size: 16px;
                      }
                padding: 24px;
                line-height: 2em;
                color: $color_negro;
                text-align: left;
                     }
                              }
                }
}

.boton-arriba {
    @media only screen and (min-width: 767px) {
        display: none;
    }
    text-align: center;
    margin-top: 20px;
    .boton-arriba__boton {
        color: $color_negro;
        padding-top:1.8em;
        display:inline-block;
        position:relative;
        border-color:$color_negro;
        text-decoration:none;
        transition:all .3s ease-out;
        }
    .boton-arriba__boton:before {
        content:'↑';
        font-size: 20px;
        position:absolute;
        top:0;
        left:50%;
        margin-left:-.7em;
        border:solid .13em $color_negro;
        border-radius:10em;
        width:1.4em;
        height:1.4em;
        line-height:1.3em;
        border-color:inherit;
        transition:transform .5s ease-in;
        }
    .boton-arriba__boton:hover {
        color: $color_dorado;
        border-color: $color_dorado;
        }
    .boton-arriba__boton:hover:before {
    transform: rotate(360deg);
    }
}

/* Productos */

.card-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px;
    margin: 20px auto 30px auto;
    @media screen and (max-width: 992px) {
        padding: 5px;
                                         }
    .card {
        width: 400px;
        @include shadow;
        @media screen and (max-width: 992px) {
        width: 300px;
                                            }
        }
    }

/* Contacto */

.pag-contacto {
    margin-top: 20px;
    justify-content: space-around;
    padding: 10px;
	&__columnas {
		&__columna1 {
			&__form {
                @media (max-width: 767px) {
                    width: 320px !important;
                    margin: auto;
                                          }
                .form-check {
                    margin: 10px;
                            }
                    }
                    }
		&__columna2 {
            @media screen and (max-width: 992px) {
                margin: 10px;
                                      }
			&__locacion {
                display: flex;
                flex-direction: column;
                align-items: center;
				&__tarjeta {
                    padding: 0px !important;
                    display: inline-block;
                    width: 400px;
                    height: auto;
                    background-color: $color_celeste;
                    color: $color_negro;
                    border: 1px outset;
                    @include shadow;
                    @media screen and (max-width: 992px) {
                        width: 300px;
                        display: inline-block;
                                              }
                    &__texto {
                        text-align: center;
                        padding: 10px;
                        margin: 10px;
                        line-height: 2em;
                             }
                           }
				&__mapa {
                    padding: 0px !important;
                    margin: 10px !important;
                    @media screen and (max-width: 992px) {
                        text-align: center;
                                              }
					.pag-contacto__columnas__columna2__locacion__mapa_google {
                        width: 400px;
                        @media screen and (max-width: 992px) {
                            padding: 0;
                            width: 300px;
                            height: 200px;
                            display: inline-block;
                            text-align: center;
                                                  }
                                                                             }
                        
                        }
                        }
                    }
                }
}