@charset "UTF-8";
/* Variables */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: Montserrat, Helvetica; }

hr {
  background-color: #efb810; }

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }
  body header {
    width: 100%;
    height: 65px; }

/* Títulos */
h1 {
  font-size: 16px;
  text-align: center;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 10px;
  background-color: #e3e4e5; }

/* Barra de navegación */
.navbar .container .navbar-brand .logo {
  animation: pulse;
  animation-duration: 2s; }
  @media screen and (max-width: 992px) {
    .navbar .container .navbar-brand .logo {
      width: 35px;
      height: 35px; } }

.navbar .container .navbar-brand .logo-texto {
  margin-left: 5px;
  margin-bottom: 0;
  letter-spacing: 1.5px;
  line-height: 18px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px !important; }
  @media screen and (max-width: 992px) {
    .navbar .container .navbar-brand .logo-texto {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 16px !important; } }

.fas {
  margin-right: 16px; }

/* Pie de página */
.footer {
  height: 60px;
  width: 100%;
  background-color: #e3e4e5;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 20px; }

.fa {
  color: #000000;
  margin: 0 10px 0 0; }

/* Home */
.text-carrousel {
  width: 50%;
  margin: auto;
  background-color: #245956; }

.text-home__columna__texto1, .text-home__columna__texto2 {
  padding: 30px;
  line-height: 1.5em;
  color: #000000;
  text-align: justify;
  border: none; }

/* Nosotros */
.parallax {
  background-image: url(../img/parallax.png);
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.tarjeta-nosotros {
  background-color: #dbe2ef;
  border: 1px outset;
  width: 640px;
  margin: 30px auto 30px auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (max-width: 992px) {
    .tarjeta-nosotros {
      width: 320px; } }
  .tarjeta-nosotros__texto {
    padding: 30px;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    border: none; }

.polaroids {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media screen and (max-width: 992px) {
    .polaroids {
      width: 250px; } }
  .polaroids__container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    margin: 10px; }
    .polaroids__container__bajada {
      text-align: center;
      padding: 10px 20px; }

/* Tratamientos */
.grid-tratamientos__columna1 .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 15px;
  margin: 20px auto 30px auto; }
  @media screen and (max-width: 992px) {
    .grid-tratamientos__columna1 .cards {
      padding: 5px; } }
  .grid-tratamientos__columna1 .cards .card {
    width: 400px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    transition: 1s; }
    @media screen and (max-width: 992px) {
      .grid-tratamientos__columna1 .cards .card {
        width: 300px; } }
    .grid-tratamientos__columna1 .cards .card .card-text .card-text-list {
      list-style-type: "✓ "; }
    .grid-tratamientos__columna1 .cards .card:hover {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
      @media screen and (max-width: 992px) {
        .grid-tratamientos__columna1 .cards .card:hover {
          -ms-transform: none;
          -webkit-transform: none;
          transform: none; } }

.grid-tratamientos__columna2 {
  min-width: 260px; }
  .grid-tratamientos__columna2 .sidebar-tratamientos {
    background-color: #c5cbd7;
    height: auto; }
    @media screen and (max-width: 1200px) {
      .grid-tratamientos__columna2 .sidebar-tratamientos {
        width: 320px;
        margin: auto; } }
    .grid-tratamientos__columna2 .sidebar-tratamientos__texto {
      font-size: 16px;
      padding: 24px;
      line-height: 2em;
      color: #000000;
      text-align: left; }

.boton-arriba {
  text-align: center;
  margin-top: 20px; }
  @media only screen and (min-width: 767px) {
    .boton-arriba {
      display: none; } }
  .boton-arriba .boton-arriba__boton {
    color: #000000;
    padding-top: 1.8em;
    display: inline-block;
    position: relative;
    border-color: #000000;
    text-decoration: none;
    transition: all .3s ease-out; }
  .boton-arriba .boton-arriba__boton:before {
    content: '↑';
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid 0.13em #000000;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform .5s ease-in; }
  .boton-arriba .boton-arriba__boton:hover {
    color: #efb810;
    border-color: #efb810; }
  .boton-arriba .boton-arriba__boton:hover:before {
    transform: rotate(360deg); }

/* Productos */
.card-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 15px;
  margin: 20px auto 30px auto; }
  @media screen and (max-width: 992px) {
    .card-columns {
      padding: 5px; } }
  .card-columns .card {
    width: 400px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19); }
    @media screen and (max-width: 992px) {
      .card-columns .card {
        width: 300px; } }

/* Contacto */
.pag-contacto {
  margin-top: 20px;
  justify-content: space-around;
  padding: 10px; }
  @media (max-width: 767px) {
    .pag-contacto__columnas__columna1__form {
      width: 320px !important;
      margin: auto; } }
  .pag-contacto__columnas__columna1__form .form-check {
    margin: 10px; }
  @media screen and (max-width: 992px) {
    .pag-contacto__columnas__columna2 {
      margin: 10px; } }
  .pag-contacto__columnas__columna2__locacion {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pag-contacto__columnas__columna2__locacion__tarjeta {
      padding: 0px !important;
      display: inline-block;
      width: 400px;
      height: auto;
      background-color: #dbe2ef;
      color: #000000;
      border: 1px outset;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19); }
      @media screen and (max-width: 992px) {
        .pag-contacto__columnas__columna2__locacion__tarjeta {
          width: 300px;
          display: inline-block; } }
      .pag-contacto__columnas__columna2__locacion__tarjeta__texto {
        text-align: center;
        padding: 10px;
        margin: 10px;
        line-height: 2em; }
    .pag-contacto__columnas__columna2__locacion__mapa {
      padding: 0px !important;
      margin: 10px !important; }
      @media screen and (max-width: 992px) {
        .pag-contacto__columnas__columna2__locacion__mapa {
          text-align: center; } }
      .pag-contacto__columnas__columna2__locacion__mapa .pag-contacto__columnas__columna2__locacion__mapa_google {
        width: 400px; }
        @media screen and (max-width: 992px) {
          .pag-contacto__columnas__columna2__locacion__mapa .pag-contacto__columnas__columna2__locacion__mapa_google {
            padding: 0;
            width: 300px;
            height: 200px;
            display: inline-block;
            text-align: center; } }
